:root {
  --element-background: rgba(245, 244, 244, 0.4);
  --active-element-background: rgba(218, 218, 218, 1);
  --radius: 8px;
  --transition: 0.3s;
  --accent-color: rgba(32, 32, 32, 1);
  --text-color: rgba(245, 244, 244, 1);
  --disabled-text-color: rgba(112, 112, 112, 1);
}
