.weatherTodayDetails {
  max-width: 506px;
}

.details {
  display: grid;
  grid-template-columns: repeat(3, 158px);
  grid-template-rows: repeat(2, 196px);
  gap: 16px;
}

.detailsItem {
  border-radius: 8px;
  padding: 16px;
  width: 158px;
  height: 196px;
  background: rgba(245, 244, 244, 0.4);
}
