@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("./styles/reset.css");
@import url("./styles/variables.css");

body {
  min-width: 1024px;
  padding: 32px;
  background: url(../public/background.webp);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
  font-feature-settings: "lnum";
}

h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

h4 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

button:enabled {
  cursor: pointer;
}

svg * {
  transition-property: fill, stroke;
}

@media (max-width: 767px) {
  body {
    min-width: 300px;
    padding: 16px;
  }
  h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
  }
  h4 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  body {
    min-width: 768px;
    padding: 24px;
  }
}

@media (min-width: 886px) and (max-width: 1023px) {
  body {
    min-width: 886px;
    padding: 24px;
  }
}
